In [100]:
import numpy as np 
import pandas as pd

In [101]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [102]:
!unzip /content/drive/Shareddrives/Hackathon/AMOC/sentiment140.zip -d /content/
!mv /content/'training.1600000.processed.noemoticon.csv' /content/dataset.csv

Archive:  /content/drive/Shareddrives/Hackathon/AMOC/sentiment140.zip
  inflating: /content/training.1600000.processed.noemoticon.csv

# Loading the Dataset, We use engine=python as loading was giving error ( not able to read large sentences )

In [103]:
data=pd.read_csv("/content/dataset.csv", encoding = "ISO-8859-1", engine="python")

In [104]:
data.tail(5)

         0  ...  @switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer.  You shoulda got David Carr of Third Day to do it. ;D
1599994  4  ...  Just woke up. Having no school is the best fee...
1599995  4  ...  TheWDB.com - Very cool to hear old Walt interv...
1599996  4  ...  Are you ready for your MoJo Makeover? Ask me f...
1599997  4  ...  Happy 38th Birthday to my boo of alll time!!! ...
1599998  4  ...  happy #charitytuesday @theNSPCC @SparksCharity...

[5 rows x 6 columns]

In [105]:
data.head(5)

   0  ...  @switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer.  You shoulda got David Carr of Third Day to do it. ;D
0  0  ...  is upset that he can't update his Facebook by ...
1  0  ...  @Kenichan I dived many times for the ball. Man...
2  0  ...    my whole body feels itchy and like its on fire
3  0  ...  @nationwideclass no, it's not behaving at all....
4  0  ...                      @Kwesidei not the whole crew

[5 rows x 6 columns]

# modifying data columns for better understanding

In [106]:
data.columns = ["label", "time", "date", "query", "username", "text"]
data

         label  ...                                               text
0            0  ...  is upset that he can't update his Facebook by ...
1            0  ...  @Kenichan I dived many times for the ball. Man...
2            0  ...    my whole body feels itchy and like its on fire
3            0  ...  @nationwideclass no, it's not behaving at all....
4            0  ...                      @Kwesidei not the whole crew
...        ...  ...                                                ...
1599994      4  ...  Just woke up. Having no school is the best fee...
1599995      4  ...  TheWDB.com - Very cool to hear old Walt interv...
1599996      4  ...  Are you ready for your MoJo Makeover? Ask me f...
1599997      4  ...  Happy 38th Birthday to my boo of alll time!!! ...
1599998      4  ...  happy #charitytuesday @theNSPCC @SparksCharity...

[1599999 rows x 6 columns]

# Checking if values are null

In [107]:
data.isnull().sum()

label       0
time        0
date        0
query       0
username    0
text        0
dtype: int64

# Only text and label should be used as conclusion

In [108]:
data=data[['label','text']]

In [109]:
data['text']=data['text'].str.lower()
data['text']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

0          is upset that he can't update his facebook by ...
1          @kenichan i dived many times for the ball. man...
2            my whole body feels itchy and like its on fire
3          @nationwideclass no, it's not behaving at all....
4                              @kwesidei not the whole crew
                                 ...
1599994    just woke up. having no school is the best fee...
1599995    thewdb.com - very cool to hear old walt interv...
1599996    are you ready for your mojo makeover? ask me f...
1599997    happy 38th birthday to my boo of alll time!!! ...
1599998    happy #charitytuesday @thenspcc @sparkscharity...
Name: text, Length: 1599999, dtype: object

# We use Nltk library for text analysis
Various procedures involved are :-

# i) Cleaning DATA

In [110]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

# Importing stop words from nltk

In [111]:
data.label.value_counts()

4    800000
0    799999
Name: label, dtype: int64

# words used as stop words

In [112]:
from nltk.corpus import stopwords
stopwords_list = stopwords.words('english')

FIRST 5 STOPWORDS

In [113]:
stopwords_list[0:5]

['i', 'me', 'my', 'myself', 'we']

In [114]:
data['label'][data['label']==4]=1
data_pos = data[data['label'] == 1]
data_neg = data[data['label'] == 0]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/pandas/core/series.py:1021: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._where(~key, value, inplace=True)

In [115]:
data_pos = data_pos.iloc[:int(40000)]
data_neg = data_neg.iloc[:int(40000)]

In [116]:
data = pd.concat([data_pos, data_neg])

# Removing stopwords from dataset

In [117]:
STOPWORDS = set(stopwords.words('english'))
def cleaning_stopwords(text):
    return " ".join([word for word in str(text).split() if word not in STOPWORDS])
data['text'] = data['text'].apply(lambda text: cleaning_stopwords(text))
data['text'].head()

799999                love @health4uandpets u guys r best!!
800000    im meeting one besties tonight! cant wait!! - ...
800001    @darealsunisakim thanks twitter add, sunisa! g...
800002    sick really cheap hurts much eat real food plu...
800003                      @lovesbrooklyn2 effect everyone
Name: text, dtype: object

# Cleaning and removing punctutions

In [118]:
import string
english_punctuations = string.punctuation
punctuations_list = english_punctuations
punctuations_list[0:]

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [119]:
def cleaning_punctuations(text):
    translator = str.maketrans('', '', punctuations_list)
    return text.translate(translator)
data['text']= data['text'].apply(lambda x: cleaning_punctuations(x))
data['text'].tail()

39995    mittec problems literally spent 2 hours cleani...
39996                                              ow head
39997    anyway particularly looking foreward labs toda...
39998                     allergies insomnia matter reason
39999    scottcabal im working evening could daytime su...
Name: text, dtype: object

# Cleaning and removing URL's

In [120]:
import re
def cleaning_URLs(data):
    return re.sub('((www\.[^\s]+)|(https?://[^\s]+))',' ',str(data))
data['text'] = data['text'].apply(lambda x: cleaning_URLs(x))
data['text'].tail()

39995    mittec problems literally spent 2 hours cleani...
39996                                              ow head
39997    anyway particularly looking foreward labs toda...
39998                     allergies insomnia matter reason
39999    scottcabal im working evening could daytime su...
Name: text, dtype: object

# Removing Numeric characters

In [121]:
def cleaning_numbers(data):
    return re.sub('[0-9]+', '', data)
data['text'] = data['text'].apply(lambda x: cleaning_numbers(x))
data['text'].tail()

39995    mittec problems literally spent  hours cleanin...
39996                                              ow head
39997    anyway particularly looking foreward labs toda...
39998                     allergies insomnia matter reason
39999    scottcabal im working evening could daytime su...
Name: text, dtype: object

# ii) TOKENIZING 
Tokenization is the process of converting data into smaller sub parts for better analysis ( Eg: breaking words in sentence)

In [122]:
from nltk.tokenize import RegexpTokenizer

In [123]:
tokenizer = RegexpTokenizer(r'\w+')
data['text'] = data['text'].apply(tokenizer.tokenize)
data.head()

        label                                               text
799999      1           [love, healthuandpets, u, guys, r, best]
800000      1  [im, meeting, one, besties, tonight, cant, wai...
800001      1  [darealsunisakim, thanks, twitter, add, sunisa...
800002      1  [sick, really, cheap, hurts, much, eat, real, ...
800003      1                  [lovesbrooklyn, effect, everyone]

# iii) Applying Stemming
We reduce words to their root form

In [124]:
from nltk.stem import PorterStemmer

In [125]:
stemer = nltk.PorterStemmer()
def stemming_on_text(data):
    text = [stemer.stem(word) for word in data]
    return data

data['text']= data['text'].apply(lambda x: stemming_on_text(x))

In [126]:
data.head()

        label                                               text
799999      1           [love, healthuandpets, u, guys, r, best]
800000      1  [im, meeting, one, besties, tonight, cant, wai...
800001      1  [darealsunisakim, thanks, twitter, add, sunisa...
800002      1  [sick, really, cheap, hurts, much, eat, real, ...
800003      1                  [lovesbrooklyn, effect, everyone]

# iv) Applying Lemmatization
It is same as stemming but it also looks for dictionary relation while stemming is dependent on part of speech

In [127]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

True

In [128]:
lm = nltk.WordNetLemmatizer()
def lemmatizer_on_text(data):
    text = [lm.lemmatize(word) for word in data]
    return data

data['text'] = data['text'].apply(lambda x: lemmatizer_on_text(x))

In [129]:
data.head()

        label                                               text
799999      1           [love, healthuandpets, u, guys, r, best]
800000      1  [im, meeting, one, besties, tonight, cant, wai...
800001      1  [darealsunisakim, thanks, twitter, add, sunisa...
800002      1  [sick, really, cheap, hurts, much, eat, real, ...
800003      1                  [lovesbrooklyn, effect, everyone]

Now data cleaning is done

In [130]:
input=data['text']
output=data['label']

input

799999             [love, healthuandpets, u, guys, r, best]
800000    [im, meeting, one, besties, tonight, cant, wai...
800001    [darealsunisakim, thanks, twitter, add, sunisa...
800002    [sick, really, cheap, hurts, much, eat, real, ...
800003                    [lovesbrooklyn, effect, everyone]
                                ...
39995     [mittec, problems, literally, spent, hours, cl...
39996                                            [ow, head]
39997     [anyway, particularly, looking, foreward, labs...
39998                 [allergies, insomnia, matter, reason]
39999     [scottcabal, im, working, evening, could, dayt...
Name: text, Length: 80000, dtype: object

In [131]:
from tensorflow.keras.layers import LSTM, Activation, Dense, Dropout, Input, Embedding
from tensorflow.keras.models import Model
from tensorflow.keras.optimizers import RMSprop
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing import sequence
%matplotlib inline

import warnings
warnings.filterwarnings("ignore")

In [132]:
max_len = 1000
tok = Tokenizer(num_words=2000)
tok.fit_on_texts(input)
sequences = tok.texts_to_sequences(input)
sequences_matrix = sequence.pad_sequences(sequences,maxlen=max_len)

In [133]:
import pickle
with open('/content/drive/Shareddrives/Hackathon/AMOC/tok.pickle', mode='wb') as handle:
    pickle.dump(tok, handle, protocol = pickle.HIGHEST_PROTOCOL)

with open('/content/drive/Shareddrives/Hackathon/AMOC/tok.pickle',mode='rb') as handle:
    tok = pickle.load(handle)

In [134]:
sequences_matrix.shape

(80000, 1000)

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(sequences_matrix, output, test_size=0.3, random_state=2)

In [ ]:
X_test

array([[   0,    0,    0, ...,  440,  126,    2],
       [   0,    0,    0, ...,    8,  459,  122],
       [   0,    0,    0, ...,    0,    0,    0],
       ...,
       [   0,    0,    0, ..., 1543,   37,  515],
       [   0,    0,    0, ...,    0,  270,  213],
       [   0,    0,    0, ...,  546,   50, 1598]], dtype=int32)

In [ ]:
def tensorflow_based_model():
    inputs = Input(name='inputs',shape=[max_len])
    layer = Embedding(2000,50,input_length=max_len)(inputs) 
    layer = LSTM(64)(layer)
    layer = Dense(256,name='FC1')(layer) 
    layer = Activation('relu')(layer) 
    layer = Dropout(0.5)(layer) 
    layer = Dense(1,name='out_layer')(layer) 
    layer = Activation('sigmoid')(layer) 
    model = Model(inputs=inputs,outputs=layer) 
    return model

In [ ]:
model = tensorflow_based_model() 
model.compile(loss='binary_crossentropy',optimizer=RMSprop(),metrics=['accuracy'])

In [ ]:
history=model.fit(X_train,Y_train,batch_size=80,epochs=6, validation_split=0.1)
print('Training finished !!')

Epoch 1/6
630/630 [==============================] - 522s 824ms/step - loss: 0.5881 - accuracy: 0.6765 - val_loss: 0.5123 - val_accuracy: 0.7471
Epoch 2/6
630/630 [==============================] - 516s 820ms/step - loss: 0.5043 - accuracy: 0.7559 - val_loss: 0.5109 - val_accuracy: 0.7434
Epoch 3/6
630/630 [==============================] - 516s 819ms/step - loss: 0.4975 - accuracy: 0.7598 - val_loss: 0.5019 - val_accuracy: 0.7520
Epoch 4/6
630/630 [==============================] - 517s 821ms/step - loss: 0.4851 - accuracy: 0.7696 - val_loss: 0.5023 - val_accuracy: 0.7513
Epoch 5/6
630/630 [==============================] - 517s 821ms/step - loss: 0.4778 - accuracy: 0.7723 - val_loss: 0.5005 - val_accuracy: 0.7545
Epoch 6/6
630/630 [==============================] - 516s 819ms/step - loss: 0.4701 - accuracy: 0.7741 - val_loss: 0.4971 - val_accuracy: 0.7591
Training finished !!

In [135]:
# model.save('my_model.h5')

NameError: ignored

In [ ]:
accr1 = model.evaluate(X_test,Y_test) #we are starting to test the model here

In [ ]:
y_pred=model.predict(X_test)

In [ ]:
y_pred = model.predict(X_test) #getting predictions on the trained model
y_pred = (y_pred > 0.5)

In [ ]:
y_pred

In [140]:
nltk.download('punkt')
def cleaning_message(sample_message):
  sample_message=sample_message.str.lower()
  # print(sample_message)
  sample_message=sample_message.apply(lambda text: cleaning_stopwords(text))
  # print(sample_message)
  sample_message=sample_message.apply(lambda x: cleaning_punctuations(x))
  # print(sample_message)
  sample_message=sample_message.apply(lambda x: cleaning_URLs(x))
  # print(sample_message)
  sample_message=sample_message.apply(lambda x: cleaning_numbers(x))
  # print(sample_message)
  sample_message=sample_message.apply(tokenizer.tokenize)
  # print(sample_message)
  sample_message=sample_message.apply(lambda x: stemming_on_text(x))
  # print(sample_message)
  sample_message=sample_message.apply(lambda x: lemmatizer_on_text(x))
  # print(sample_message)
  return sample_message

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

In [136]:
import numpy as np
import tensorflow as tf
from tensorflow import keras

MY_model = keras.models.load_model('/content/drive/Shareddrives/Hackathon/AMOC/my_model.h5')

In [238]:
EMO_UNICODE = {
    u':angry:': u'\U0001F620', # angry
    u':very angry: ': u'\U0001F47F', #angry face with horns
    u':suprised: ': u'\U0001F627',
    u':yellow love: ': u'\U0001F49B', # yellow_heart
    u':worried:': u'\U0001F61F',
    u':winking face:': u'\U0001F609',
    u':shocked:': u'\U0001F640', #weary cat face
    u':waving hand:': u'\U0001F44B',#waving hand
    u':warning:': u'\U000026A0',
    u':unamused face:': u'\U0001F612',
    u':tired face:': u'\U0001F62B',
    u':good:': u'\U0001F44D',#thumbs_up
    u':upset:': u'\U0001F44E',
    u':smiling cat face with heart eyes:': u'\U0001F63B',
    u':smiling cat face with open mouth:': u'\U0001F63A',
    u':smiling face:': u'\U0000263A',
    u':smiling face with halo:': u'\U0001F607',
    u':smiling face with heart-eyes:': u'\U0001F60D',
    u':smiling face with horns:': u'\U0001F608',
    u':smiling face with open_mouth:': u'\U0001F603',
    u':smiling face with open mouth closed eyes:': u'\U0001F606',
    u':smiling face with open mouth & cold sweat:': u'\U0001F605',
    u':smiling face with open mouth & smiling eyes:': u'\U0001F604',
    u':smiling face with smiling eyes:': u'\U0001F60A',
    u':pig face:': u'\U0001F437',
    u':person gesturing NO:': u'\U0001F645',
    u':person gesturing OK:': u'\U0001F646',
    u':person frowning:': u'\U0001F64D',
    u':face blowing a kiss:': u'\U0001F618',
    u':face savouring delicious_food:': u'\U0001F60B',
    u':face screaming in fear:': u'\U0001F631',
    u':face with cold sweat:': u'\U0001F613',
    u':face with head bandage:': u'\U0001F915',
    u':face with medical mask:': u'\U0001F637',
    u':face with open mouth:': u'\U0001F62E',
    u':face with open mouth & cold sweat:': u'\U0001F630',
    u':face with rolling eyes:': u'\U0001F644',
    u':face with steam from nose:': u'\U0001F624',
    u':face with stuck out tongue:': u'\U0001F61B',
    u':face with stuck out tongue & closed eyes:': u'\U0001F61D',
    u':face with stuck out tongue & winking eye:': u'\U0001F61C',
    u':face with tears of joy:': u'\U0001F602',
    u':face with thermometer:': u'\U0001F912',
    u':face without mouth:': u'\U0001F636',
    u':disappointed face:': u'\U0001F61E',
    u':disappointed but relieved face:': u'\U0001F625',
    u':hopefull:': u'\U0001F91E', # crossed fingers
    u':confused face:': u'\U0001F615',
    u':appreciate:': u'\U0001F44F', #clapping hands
    u':blue heart:': u'\U0001F499',
    u':astonished face:': u'\U0001F632',
    
}

UNICODE_EMO = {v: k for k, v in EMO_UNICODE.items()}

In [239]:
def convert_emojis(text):
    for emot in UNICODE_EMO:
        text = re.sub(r'('+emot+')', " ".join(UNICODE_EMO[emot].replace(","," ").replace(":"," ").split()), text)
    return text

In [240]:
def remove_emoji(text):
    emoji_pattern = re.compile("["
                           u"\U0001F600-\U0001F64F"  # emoticons
                           u"\U0001F300-\U0001F5FF"  # symbols & pictographs
                           u"\U0001F680-\U0001F6FF"  # transport & map symbols
                           u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
                           u"\U00002702-\U000027B0"
                           u"\U000024C2-\U0001F251"
                           "]+", flags=re.UNICODE)
    return emoji_pattern.sub(r'', text)

In [244]:
sample_message=" i am feeling upset ðŸ‘¿ðŸš•"
sample_message=convert_emojis(sample_message)
sample_message=remove_emoji(sample_message)
sample_message

' i am feeling upset very angry'

In [245]:
import pandas as pd
  
df = pd.DataFrame({
    'text': [sample_message]
})

test = df['text']
test

0     i am feeling upset very angry
Name: text, dtype: object

In [246]:
test=cleaning_message(test)
sample_message

' i am feeling upset very angry'

In [247]:
tok.fit_on_texts(test)
sequences = tok.texts_to_sequences(test)
sequences_matrix = sequence.pad_sequences(sequences,maxlen=max_len)

In [248]:
y_bar=MY_model.predict(sequences_matrix)
y_bar = (y_bar > 0.5)

In [249]:
y_bar

array([[False]])